:root{
  --blood:#ff1f1f;
  --dark:#050505;
  --card:#0d0d0d;
  --border:#2a0000;
  --glow:0 0 25px rgba(255,30,30,.6);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:system-ui, sans-serif;
}

body{
  background:radial-gradient(circle at top,#180000,#000);
  color:#fff;
  min-height:100vh;
}

/* LOADER */
#devil-loader{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
  z-index:9999;
}

.devil-circle{
  width:120px;
  height:120px;
  border-radius:50%;
  border:4px solid #300;
  border-top-color:red;
  animation:spin 1s linear infinite;
  box-shadow:var(--glow);
  margin-bottom:20px;
}

@keyframes spin{to{transform:rotate(360deg)}}

#devil-loader.hide{
  opacity:0;
  visibility:hidden;
  transition:.6s;
}

/* TOAST */
#devil-toast{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  opacity:0;
}

#devil-toast.show{
  opacity:1;
  transition:.6s;
}

.toast-box{
  background:#120000;
  padding:16px 22px;
  border-radius:14px;
  border:1px solid red;
  box-shadow:var(--glow);
}

/* CARD */
.card{
  max-width:420px;
  margin:40px auto;
  background:#0b0b0b;
  border-radius:18px;
  border:1px solid var(--border);
  box-shadow:var(--glow);
}

.card-header{
  padding:22px;
  text-align:center;
  background:linear-gradient(135deg,#8b0000,#000);
}

.card-body{padding:22px}
.card-footer{
  padding:12px;
  text-align:center;
  font-size:11px;
  color:#aaa;
}

/* FORM */
.field{margin-bottom:16px}
.field label{
  font-size:12px;
  color:#ff9b9b;
}

.field input,
.field select,
.field textarea{
  width:100%;
  padding:12px;
  background:#111;
  border:1px solid #333;
  color:#fff;
  border-radius:10px;
}

.field input:focus,
.field select:focus,
.field textarea:focus{
  border-color:red;
  box-shadow:var(--glow);
}

.field{
  display:flex;
  flex-direction:column;
  gap:8px;
}
#searchKota{
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}
#kota{
  padding:10px;
  border-radius:8px;
}

/* BUTTON */
.btn-primary{
  width:100%;
  padding:15px;
  background:linear-gradient(135deg,#ff0000,#600);
  border:none;
  color:#fff;
  font-weight:bold;
  border-radius:14px;
  cursor:pointer;
  box-shadow:var(--glow);
}

/* MODAL */
#modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  pointer-events:none;
}

#modal.show{
  opacity:1;
  pointer-events:auto;
}

.modal-box{
  background:#0a0a0a;
  padding:22px;
  border-radius:18px;
  border:1px solid red;
  box-shadow:var(--glow);
}
